<%= form_for(@gasto) do |f| %>
  <% if @gasto.errors.any? %>
    <div id="error_explanation">
      <% if @gasto.errors.count == 1 %>
        <h2><%= pluralize(@gasto.errors.count, "erro") %> impede que este gasto seja salvo:</h2>
      <% else %>
        <h2><%= pluralize(@gasto.errors.count, "erro") %> impedem que este gasto seja salvo:</h2>
      <% end %>
      <ul>
      <% @gasto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
        <td>
          <%= f.label :data %>
        </td>
        <td>
          <%= f.date_select :data, :order => [:day, :month, :year] , 
            :use_month_names => ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", 
                                 "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"] %>
        </td>
      </tr>
    
      <tr>
        <td>
          <%= f.label :descricao %>
        </td>
        <td>
          <%= f.text_field :descricao %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= f.label :valor %>
        </td>
        <td>
          <%= f.text_field :valor %>
        </td>
      </tr>
      
      <tr>
        <td colspan="2" align="center">
          <%= f.submit "Salvar"%>
        </td>
      </tr>
    <br />
    
  </div>
<% end %>
