<%= form_for(@gasto) do |f| %>
  <% if @gasto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gasto.errors.count, "erro") %> impede que este gasto seja salvo:</h2>

      <ul>
      <% @gasto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
        <td>
          <%= f.label :data %>
        </td>
        <td>
          <%= f.date_select :data, :order => [:day, :month, :year] %>
        </td>
      </tr>
    
      <tr>
        <td>
          <%= f.label :descrição %>
        </td>
        <td>
          <%= f.text_field :descricao %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= f.label :valor %>
        </td>
        <td>
          <%= f.text_field :valor %>
        </td>
      </tr>
      
      <tr>
        <td colspan="2" align="center">
          <%= f.submit "Salvar"%>
        </td>
      </tr>
    <br />
    
  </div>
<% end %>
