 <br />
 
 <div align="center">
 <br />
 <%= form_for @user_session, :url => {:action => "create"} do |f| %>
    <%= f.error_messages %>
  	<table>
  		<tr>
  			<td>
  				<%= f.label :login %>:
  			</td>
  			<td>
  				<%= f.text_field :login %>
  			</td>
  		</tr>
  		
  		<tr>
  			<td>
  				<%= f.label :password %>:
  			</td>
  			<td>
  				<%= f.password_field :password %>
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2">
  			  <div align="right">
  					<%= f.check_box :remember_me %>
    				<%= f.label :remember_me %>
    			</div>
  			</td>
  		</tr>
  		<tr>
  			<td colspan="2">
  				<div align="center">
  					<%= f.submit "Entrar" %>
  				</div>
  			</td>
  		</tr>
    </table>
    <br />
    <label>Ainda não tem cadastro, clique <%= link_to 'aqui', :new_user %></label>
  <% end %>
</div>

<div>
  <label>Saudades da vuvuzela? <br/> <%= link_to_function "Ouvir", 
        "Element.show('vuvuzela');"
        %> /
        <%= link_to_function "Cansei", 
        "Element.hide('vuvuzela');"
        %> </label>
  
  <div id="vuvuzela" style="display:none">
    <embed src="http://s3.amazonaws.com/vuvu/1.swf">
  </div>

</div>