<!DOCTYPE html>
<html>
<head>
  <title>Financas</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1 align="center">Gerenciador de Finanças Pessoais</h1>
  <br />
  <label>Bem vindo, <%= @current_user.login %></label>
  <br />
  <%= link_to 'Página inicial', :root %>
  <%= link_to 'Meus Gastos', gastos_path %>
  <%= link_to 'Sair', :logout %>
  <br />
  <div align="center">
    <%= yield %>
  </div>
</body>
</html>
