<!DOCTYPE html>
<html>
<head>
  <title>Gerenciador de Finanças Pessoais</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico">
</head>
<body>
  <h1 align="center">Gerenciador de Finanças Pessoais</h1>
  <br />
  <label>Bem vindo, <%= @current_user.login %></label>
    <br />
    <%= link_to 'Página inicial', :root %> | 
    <%= link_to 'Meus Gastos', gastos_path %> | 
    <%= link_to 'Meus Ganhos', ganhos_path %> |
    <%= link_to 'Tipos de Gastos', tipo_gastos_path %> |  
    <%= link_to 'Sair', :logout %>
  <br />
  <div align="center">
    <%= yield %>
  </div>
</body>
</html>
